.home-feed-panel {
        scrollbar-width: none;
}
.navbar-brand {
        font-family: "Brush Script MT", cursive;
        font-size: xxx-large;
}
.left_panel_item {
        text-decoration: none;
        color: inherit;
        font-size: 1.3em;
        font-weight: 400;
}
