$mobile: 768px;
.tweet_card {
        border: 0 solid rgb(0, 0, 0);
        border-radius: 0.5em;
        padding: 0.5em;
        margin: 0.5em;
        background-color: rgba(58, 58, 58, 0.216);
        box-shadow: 0 1px 2px 0px rgb(1, 1, 1);
        @media (max-width: $mobile) {
                border-radius: 0em;
                padding: 0.5em;
                margin: 0em;
                margin-top: 0.3em;
                margin-bottom: 0.3em;
        }
}
.tweet_card_image_container {
        width: 100%;
        height: fit-content;
        background-color: black;
        border-radius: 1em;
}

.tweet_card_image {
        width: 100%;
        // height: min(58vh, 100%);
        height: 75vh;
        max-height: 75vh;
        object-fit: contain;
        border-radius: 0.5em;
}

.icon-btn {
        border: none;
        background: transparent;
        transition: 0.3s;
}
.icon-btn:hover {
        color: inherit !important;
        transform: scale(1.2);
}
.tweet_profile_img_cls {
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        object-fit: contain;
        margin-right: 0.5em;
}

.post-modal {
        height: 95vh;
        overflow-y: scroll;
        scrollbar-width: none;
        @media (max-width: $mobile) {
                height: 75vh;
        }
}
.tweet-card-upload-time {
        font-size: small;
}
.tweet-card-text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        overflow-wrap: break-word;
        white-space: pre-wrap;
}
.tweet-card-text.expanded {
        -webkit-line-clamp: unset;
}

.see-more-btn {
        color: #1da1f2;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
}
.see-more-btn:hover {
        text-decoration: underline;
}
