.tweet_card {
        border: 0.05em solid rgb(66, 66, 66);
        border-radius: 0.5em;
        padding: 0.5em;
        margin: 0.5em;
}
.tweet_card_image_container {
        width: fit-content;
}
.tweet_card_image {
        width: 100%;
        height: min(60vh, 100%);
        max-height: 60vh;
        object-fit: contain;
        border-radius: 0.5em;
}

.icon-btn {
        border: none;
        background: transparent;
        transition: 0.3s;
}
.icon-btn:hover {
        color: #0d6efd; /* bootstrap blue */
        transform: scale(1.2);
}
