<template id="comment_body_template">
  <div class="d-flex flex-row comment-item container" data-comment-id="" id="">
    <div class="comment_user_img mt-1 pe-2">
      <img src="{{ MEDIA_URL }}app_img/profile_avater.jpg" alt="" class="comment_profile_img_cls" />
    </div>
    <div class="flex-grow-1">
      <div class="d-flex flex-row comment-body-container">
        <div class="comment-body">
          <div class="comment-header">
            <strong class="comment-username"></strong>
          </div>
          <p class="comment-content m-0"></p>
        </div>
        <div class="dropdown">
          <button class="btn btn-sm comment-menu-btn" type="button" data-bs-toggle="dropdown">⋮</button>
          <ul class="comment-menu-dropdown-menu dropdown-menu"></ul>
        </div>
      </div>
      <div class="comment-actions ms-2">
        <button class="icon-btn" onclick="commentlikefunction(this)" data-reation-type="like"><i
            class="bi bi-hand-thumbs-up"></i></button><span class="comment_like_count">0</span>
        <button class="icon-btn" onclick="commentlikefunction(this)" data-reation-type="unlike"><i
            class="bi bi-hand-thumbs-down"></i></button><span class="comment_unlike_count">0</span>
        <span class="reply-btn"><button class="icon-btn" onclick="add_comment_reply_form(this)"><i
              class="bi bi-reply"></i></button><span class="comment_reply_count">0</span></span>
      </div>
      <div class="comment-reply-container mt-2"></div>
    </div>
  </div>
</template>