<template id="comment_reply_form_template">
  <div class="d-flex flex-row reply-comment-form-container">
    <div class="comment_user_img mt-1 pe-2">
      <img src="{{ MEDIA_URL }}app_img/profile_avater.jpg" alt="" class="comment_profile_img_cls" />
    </div>
    <div class="flex-grow-1">
      <form class="comment-form">
        {% csrf_token %}
        {{ comment_form.content }}
        <div class="d-flex justify-content-end">
          <button type="button" class="icon-btn submit_btn" onclick="fn_reply_comment(this)" data-comment-id="" data-tweet-id=""><i class="bi bi-send-fill"></i></button>
        </div>
      </form>
    </div>
  </div>
</template>

<template id="comment_body_template">
  <div class="d-flex flex-row comment-item container" data-comment-id="" id="">
    <div class="comment_user_img mt-1 pe-2">
      <img src="{{ MEDIA_URL }}app_img/profile_avater.jpg" alt="" class="comment_profile_img_cls" />
    </div>
    <div class="flex-grow-1">
      <div class="d-flex flex-row comment-body-container">
        <div class="comment-body">
          <div class="comment-header">
            <strong class="comment-username"></strong>
          </div>
          <p class="comment-content"></p>
        </div>
        <div class="dropdown">
          <button class="btn btn-sm comment-menu-btn" type="button" data-bs-toggle="dropdown">⋮</button>
          <ul class="comment-menu-dropdown-menu dropdown-menu"></ul>
        </div>
      </div>
      <div class="comment-actions ms-2">
        <button class="icon-btn" onclick="commentlikefunction(this)" data-reation-type="like"><i class="bi bi-hand-thumbs-up"></i></button><span class="comment_like_count">0</span>
        <button class="icon-btn" onclick="commentlikefunction(this)" data-reation-type="unlike"><i class="bi bi-hand-thumbs-down"></i></button><span class="comment_unlike_count">0</span>
        <span class="reply-btn"><button class="icon-btn" onclick="add_comment_reply_form(this)"><i class="bi bi-reply"></i></button><span class="comment_reply_count">0</span></span>
      </div>
      <div class="comment-reply-container mt-2"></div>
    </div>
  </div>
</template>

<template id="post-details-template">
  <div class="post_details m-3">
    <div class="card-body">
      <div class="d-flex">
        <h4 class="post-username"></h4>
      </div>
      <div>
        <p class="post-text"></p>
      </div>
      <div class="tweet_card_image_container">
        <img src="" class="tweet_card_image" />
      </div>
      <div class="tweet_interaction_container row text-center mt-2">
        <div class="col">
          <i class="bi bi-hand-thumbs-up"></i><span class="like_count">0</span>
        </div>
        <div class="col">
          <i class="bi bi-hand-thumbs-down"></i><span class="unlike_count">0</span>
        </div>
        <div class="col">
          <i class="bi bi-chat-left-text"></i><span class="comment_count_post-details">0</span>
        </div>
        <div class="col">
          <i class="bi bi-repeat"></i>
        </div>
      </div>
      <hr />
      <div class="comment-form-container">
        <!-- Comment form will be inserted here -->
      </div>
    </div>
  </div>

  <div class="comment_list"></div>
</template>

<template id="tweet-card-template">
  <div class="tweet-card" data-tweet-id="">
    <div class="tweet-header">
      <div class="user-info">
        <div class="avatar-wrapper">
          <img src="{{ MEDIA_URL }}app_img/profile_avater.jpg" alt="Profile" class="user-avatar" />
        </div>
        <div class="user-details">
          <div class="d-flex">
            <h3 class="username"></h3>
            <span class="user-handle"></span>
          </div>
          <span class="timestamp"></span>
        </div>
      </div>
      <div class="dropdown tweet-card-menu-dropdown">
        <button class="menu-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item tweet-menu-copylink" href="#">Copy Link</a>
          </li>
        </ul>
      </div>
      <!--         <button class="menu-btn ">
        <i class="bi bi-three-dots"></i>
      </button>         -->
    </div>

    <div class="tweet-content">
      <p class="tweet-text"></p>
      <button class="see-more-btn" onclick="toggleSeeMore(this)">See more</button>
    </div>

    <div class="tweet-media">
      <img src="" alt="Tweet image" class="media-image" />
    </div>

    <div class="tweet-stats">
      <div class="stat">
        <span class="stat-count likes-count">0</span>
        <span class="stat-label">Likes</span>
      </div>
      <div class="stat">
        <span class="stat-count dislikes-count">0</span>
        <span class="stat-label">Dislikes</span>
      </div>
      <div class="stat">
        <span class="stat-count comments-count">0</span>
        <span class="stat-label">Comments</span>
      </div>
    </div>

    <div class="tweet-actions">
      <button class="action-btn like-btn" data-action="like">
        <div class="icon-container">
          <i class="bi bi-hand-thumbs-up"></i>
        </div>
        <span>Like</span>
      </button>

      <button class="action-btn dislike-btn" data-action="dislike">
        <div class="icon-container">
          <i class="bi bi-hand-thumbs-down"></i>
        </div>
        <span>Dislike</span>
      </button>

      <button class="action-btn comment-btn" data-action="comment" data-bs-toggle="modal" data-bs-target="">
        <div class="icon-container">
          <i class="bi bi-chat-left-text"></i>
        </div>
        <span>Comment</span>
      </button>

      <button class="action-btn share-btn" data-action="share">
        <div class="icon-container">
          <i class="bi bi-repeat"></i>
        </div>
        <span>Share</span>
      </button>
    </div>
  </div>

  <!-- Modal for comments -->
  <div class="modal fade tweet-modal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Modal content will be loaded dynamically -->
        </div>
      </div>
    </div>
  </div>
</template>
