<div class="d-flex flex-row comment-form-container">
  <div class="comment_user_img mt-1 pe-2">
    <img src="{{ MEDIA_URL }}app_img/profile_avater.jpg" alt="" class="comment_profile_img_cls" />
  </div>
  <div class="flex-grow-1">
    <form class="comment-form">
      {% csrf_token %}
      {{ comment_form.content }}
      <div class="d-flex justify-content-end">
        <button type="button" class="icon-btn submit_btn" onclick="handleCommentSubmission(this)"><i class="bi bi-send-fill"></i></button>
      </div>
    </form>
  </div>
</div>
