{% load static %}
<link rel="stylesheet" href="{% static 'css/components/comment_style.css' %}" />
<div class="post_details m-3">
  <div class="card-body">
    <div class="d-flex">
      <h4>{{ tweet.user.username }}'s Post</h4>
    </div>
    <div>
      <p>{{ tweet.text }}</p>
    </div>
    <div class="tweet_card_image_container">
      <img src="{{ tweet.photo.url }}" class="tweet_card_image" />
    </div>
    <div class="tweet_interaction_container row text-center mt-2">
      <div class="col">
        <i class="bi bi-hand-thumbs-up"></i><span id="_{{ tweet.id }}" class="like_count">{{ tweet.like_count }}</span>
      </div>
      <div class="col">
        <i class="bi bi-hand-thumbs-down"></i><span class="unlike_count" id="_{{ tweet.id }}">{{ tweet.unlike_count }}</span>
      </div>
      <div class="col">
        <i class="bi bi-chat-left-text"></i><span class="comment_count_post-details" id="_{{ tweet.id }}">{{ tweet.comment_count }}</span>
      </div>
      <div class="col">
        <i class="bi bi-repeat"></i>
      </div>
    </div>
    <hr />
    <div>
      {% include 'components/comment_form.html' with tweet_id=tweet.id comment_form=comment_form %}
    </div>
  </div>
</div>

<div class="comment_list" id="comment_list_{{ tweet.id }}"></div>
