{% extends 'layout.html' %}

{% block content %}
  <h1 class="text-center mt-4">
    {% if form.instance.pk %}
      Edit My Tweet
    {% else %}
      Create New Tweet
    {% endif %}
  </h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="{{ form.text.id_for_label }}" class="form-label">{{ form.text.label }}</label>
      {{ form.text }}
    </div>
    <div class="mb-3">
      <label for="{{ form.photo.id_for_label }}" class="form-label">{{ form.photo.label }}</label>
      {{ form.photo }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
