{% extends 'layout.html' %}

{% block title %}
  Mytweet
{% endblock %}

{% block content %}
  <h1 class="text-center mt-4">Welcome to Tweet confirm delete page</h1>
  <h3 class="text-center mt-4">Are you sure to delete your tweet? Once you delete you can't recover it again.</h3>
  <form method="post">
    {% csrf_token %}
    <p class="text-center mt-4">
      <a href="{% url 'tweet_list' %}"><button type="button" class="btn btn-primary me-2 px-5">Back</button></a>
      <button type="submit" class="btn btn-danger ms-2 px-5">Delete</button>
    </p>
  </form>
{% endblock %}
